<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @portfolio.titel %>
</p>
<p>
  <strong>Subtitel:</strong>
  <%= @portfolio.subtitel %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio.body %>
</p>